@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", Arial;
  letter-spacing: -1px; }

h1 {
  text-align: center; }

h2 {
  font-size: 16px; }

.logo {
  text-align: center;
  background-color: #000; }

.roms {
  width: 1140px;
  margin: 0 auto; }
  .roms .rom, .roms .book {
    padding-top: 30px;
    text-align: center;
    width: 360;
    float: left;
    background-color: #eee;
    margin: 0px 10px;
    min-height: 400px; }
    .roms .rom .images, .roms .book .images {
      margin: 0 auto; }
      .roms .rom .images img, .roms .book .images img {
        display: block;
        height: 250px; }
      .roms .rom .images .first-image, .roms .book .images .first-image {
        position: absolute; }
  .roms .rom .images {
    width: 260px; }
  .roms .book .images {
    width: 160px; }

.clear {
  clear: both; }
