@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
  margin:0px;
  padding:0px;
  font-family: "Raleway", Arial;
  letter-spacing:-1px;
}

h1 {
  text-align:center;
}

h2 {
  font-size:16px;
}

.logo {
  text-align:center;
  background-color:#000;
  
  img {
  }
}

.roms {
  width:1140px;
  margin:0 auto;
  .rom, .book {
    padding-top:30px;
    text-align:center;
    width:360;
    float:left;
    background-color:#eee;
    margin:0px 10px;
    min-height:400px;
    
    .images {
      margin:0 auto;

      img {
        display:block;
        height:250px;
      }

      .first-image {
        position:absolute;
      } 
    }
  }
  
  .rom {
    .images {
      width:260px;
    }
  }
  
  .book {
    .images {
      width:160px;
    }
  }
}

.clear {
  clear:both;
}